.coffee-color-cinnamon {
  color: $color-cinnamon-roast;
}

.coffee-color-medium {
  color: $color-medium-roast;
}

.coffee-color-high {
  color: $color-high-roast;
}

.coffee-color-city {
  color: $color-city-roast;
}

.coffee-color-fullcity {
  color: $color-fullcity-roast;
}

.coffee-color-french {
  color: $color-french-roast;
}
