html {
  font-size: $base-font-size;
}

body {
  line-height: 1;
  font-size: $font-size-m;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  color: $color-black;
}

a {
  text-decoration: none;
  color: $color-black;
}
