// Breakpoints from https://bulma.io/documentation/overview/responsiveness/
$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;

$container-width: 1000px;

// Typography https://coliss.com/articles/build-websites/operation/css/css-font-sizing-by-ire.html
$base-font-size: 62.5%;

$font-size-l:   1.6rem;
$font-size-m:   1.4rem;
$font-size-s:   1.2rem;

$border-radius-size: 0.5rem;

$color-black: #595959; // 35% lighten #000000
$color-black-dark: #333333; // 20% lighten #000000
$color-white: #fff;
$color-gray: #e6e6e6; // rgba(0 0 0 0.1)

$color-white-transparent: rgba(255, 255, 255, 0.6);
$color-gray-transparent: rgba(0, 0, 0, 0.02);
$color-black-transparent: rgba(0, 0, 0, 0.4);

$color-primary: #8b4513; // coffee beans
$color-primary-dark: #311807; // 20% darken
$color-accent: #ff9999; // 30% lighten #ff0000
$color-border: #f9e5d7; // 60% lighten

$color-accent-transparent: rgba(255, 153, 153, 0.2);

$color-cinnamon-roast: #e17223;  // 20% lighten
$color-medium-roast: #b85b19; // 10% lighten
$color-high-roast: #8b4513;
$color-city-roast: #5e2f0d; // 10% darken
$color-fullcity-roast: #48240a; // 15% darken
$color-french-roast: #311807; // 20% darken

$color-ribbon: #4aa3df;
$color-ribbon-dark: #3498db;
